:root {
    --primary: #527af3;
}

html{
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url('img/yokohama.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 100%;
}

.search-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 50rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 10px;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
}

.search-button {
    background-color: var(--primary);
    color: #fff;
    border: none;
    outline: none;
    padding: 8px 12px;
    border-radius: 50rem;
    cursor: pointer;
    margin-left: 10px;
}

.favorites {
    position: absolute;
    top: calc(50% + 40px);
    /* Direkt unter der Suchleiste */
    left: 50%;
    transform: translateX(-50%);
}

.favorites button {
    background-color: var(--primary);
    color: #fff;
    border: none;
    outline: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.settings {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.settings button {
    background-color: var(--primary);
    color: #fff;
    border: none;
    outline: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}